<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saldumu Veikals</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <p>Get your student <a href="/student">here</a></p>
    <h1>Welcome to our Sweets Shop!!!</h1>
   
    <h3 th:text="'Today is: ' + ${date}"></h3>
    <div>Test Value: <div th:text="${huina}"></div></div>

</body>
</html>